<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>GerenciarCategoriaServlet</servlet-name>
        <servlet-class>controle.GerenciarCategoriaServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ClientePerfilServlet</servlet-name>
        <servlet-class>controle.ClientePerfilServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ClienteEntrarServlet</servlet-name>
        <servlet-class>controle.ClienteEntrarServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ClienteCadastrarServlet</servlet-name>
        <servlet-class>controle.ClienteCadastrarServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ClienteSairServlet</servlet-name>
        <servlet-class>controle.ClienteSairServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminEntrarServlet</servlet-name>
        <servlet-class>controle.AdminEntrarServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>GerenciarCategoriaServlet</servlet-name>
        <url-pattern>/adminPages/categoria/gerenciarCategoria</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ClientePerfilServlet</servlet-name>
        <url-pattern>/perfilPages/perfil</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ClienteCadastrarServlet</servlet-name>
        <url-pattern>/register</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ClienteEntrarServlet</servlet-name>
        <url-pattern>/login</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ClienteSairServlet</servlet-name>
        <url-pattern>/Sair</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminEntrarServlet</servlet-name>
        <url-pattern>/AdminLogin</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
